.featured {
    @apply bg-[#161616] pt-12;
    .wrapper {
        @apply flex h-[560px];
        .left {
            @apply bg-cover text-white p-16 z-10 relative h-[560px];
            // background-image: url('');
            &::before {
                content: '';
                @apply absolute bg-black left-0 top-0 w-full h-full opacity-50 transition duration-300 -z-10;
            }
            &:hover::before {
                @apply opacity-70;
            }
            .category {
                @apply bg-[#01AEF0] uppercase font-semibold text-sm tracking-widest py-[2px] px-3 w-fit mt-36;
                // width;
            }
            .title {
                @apply text-5xl font-bold capitalize my-8;
            }
            .post-meta {
                @apply flex items-center;
                .avatar {
                    @apply w-10 h-10 rounded-full;
                    img {
                        @apply w-full h-full rounded-full;
                    }
                }
                ul {
                    @apply flex ml-4;
                    li {
                        @apply mr-4 font-bold text-gray-300;
                        &:last-child:before {
                            content: '||';
                            @apply mr-3;
                        }
                    }
                }
            }
        }
        .right {
            .card {
                @apply text-white p-8 bg-cover relative z-10 h-[280px];
                &::before {
                    content: '';
                    @apply absolute bg-black left-0 top-0 w-full h-full opacity-50 transition duration-300 -z-10;
                }
                &:hover::before {
                    @apply opacity-70;
                }
                .category {
                    @apply bg-green-600 uppercase font-semibold text-sm tracking-widest py-[2px] px-3 w-fit mt-12;
                }
                .title {
                    @apply text-3xl font-bold my-3;
                }
                .post-meta {
                    @apply flex items-center;
                    ul {
                        @apply flex;
                        li {
                            @apply mr-4 font-bold text-gray-300;
                            &:last-child:before {
                                content: '||';
                                @apply mr-3;
                            }
                        }
                    }
                }
            }
        }
    }
}
