header{
    background-color: #161616;
    .header-meta{
       @apply flex items-center h-24 text-white;
        .hamburger-icon{
            @apply lg:hidden block cursor-pointer;
        }
        .social{
            @apply lg:block hidden;
            ul{
                @apply items-center h-24;
            }
            li{
                @apply mr-2;
            }
            svg{
                @apply text-white;
            }
        }
        .brand{
            @apply h-24 flex items-center;
            img{
                @apply lg:w-72 w-48;
            }
        }
        .search{
            @apply text-white h-24 flex items-center uppercase cursor-pointer;
            span{
                @apply mr-2 lg:block hidden;
            }
        } 
    }
    .main-menu{
        @apply border-t border-gray-800 font-medium capitalize hidden lg:flex justify-center;
        ul{
            @apply flex items-center;
            li{
                @apply mx-6 text-gray-400;
                &:hover{
                    @apply text-white transition-colors duration-500;
                }
                a.active{
                    @apply text-white;
                }
                &.has-inner-items{
                    @apply relative flex items-center py-4;
                    .icon{
                        @apply inline-block text-sm mt-1 transition duration-500;
                    }
                    ul{
                        @apply hidden absolute bg-[#050505] min-w-[160px] py-4 top-14 -left-4 z-50;
                        li{
                            @apply mb-2;
                        }
                    }
                }
                &.has-inner-items::before{
                    @apply absolute right-0 w-4 h-4 text-white;
                    content: '';
                }
                &.has-inner-items:hover{
                    .icon{
                        @apply transform rotate-180;
                    }
                    ul{
                        @apply block opacity-100 top-14 transition-all duration-300;
                    }
                }
            }
        }
    }
    .mobile-menu{
        @apply hidden text-white;
    }
    .mobile-menu.active{
        @apply block bg-[#151515] w-screen h-screen fixed z-50 top-0 py-8;
    }
    .mobile-menu .top{
        @apply text-center mx-auto;
        width: fit-content;
    }
    .close-menu{
        svg{
            @apply mx-auto mb-4 cursor-pointer;
        }
    }
}
.mobile-menu{
    ul{
        @apply font-bold mx-8 capitalize mt-12;
        li{
            @apply mx-6 text-gray-400 border-b-[1px] border-[#ffffff08]  p-2;
            &:hover{
                @apply text-white transition-colors duration-500;
            }
            a.active{
                @apply text-white;
            }
            .wrapper{
                @apply flex justify-between;
            }
            &.has-inner-items{
                ul{
                    @apply hidden focus:block font-normal m-0 ml-2;
                    li{
                        @apply border-0 m-0 px-0;
                    }
                }
            }
        }
    }
}